h1, p {
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
p1 {
  height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
outline-color:red;
outline-style: solid;
}
button{
border: 0px solid black;
height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
buttons {
  height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
border: 2px solid black;
outline-color:black;
outline-style: solid;
}
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  max-width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
}
footer {
text-align: center;
}
