/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Default background color (White theme) */
  color: #000; /* Default text color (Black) */
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
  background-color: #222; /* Dark theme background color */
  color: #fff; /* Dark theme text color */
}

h1, p {
  font-family: "Open Sans",sans-serif;
  text-align: center;
  padding-right: 2px;
  padding-left: 2px;
}

/* Header styles */
header {
  background-color: #f0f0f0; /* Default header background color (White theme) */
  padding: 20px 0;
}

body.dark-theme header {
  background-color: #222; /* Dark theme header background color */
}

/* Rainbow border styles */
.rainbow-border {
  text-align: center;
  height: 30px;
  line-height: 30px;
  border: 2px solid red;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

@keyframes rainbowLoop {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.rainbow-border::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid transparent;
  background: linear-gradient(45deg, #ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #00ff80, #00ffff, #0080ff, #0000ff, #8000ff, #ff00ff, #ff0080);
  background-size: 200% 200%;
  background-position: 0% 50%;
  animation: rainbowLoop 6s linear infinite;
  z-index: -1;
}

/* Navigation button styles */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Default buttons background color (White theme) */
  padding: 6px 0;
}

nav button {
  border: 2px solid #000; /* Default button border color (White theme) */
  margin: 0 5px;
  padding: 10px 20px;
  background-color: #f0f0f0; /* Default button background color (White theme) */
  color: #000; /* Default button text color (Black) */
  cursor: pointer;
}

body.dark-theme nav {
  background-color: #222; /* Dark theme buttons background color */
}

button.dark-theme {
  border: 2px solid #fff; /* Dark theme button border color */
  background-color: #222; /* Dark theme button background color */
  color: #fff; /* Dark theme button text color */
}

/* Table styles */
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

body.dark-theme td, body.dark-theme th {
  border-color: #666;
}

/* Footer styles */
footer {
  text-align: center;
  background-color: #f0f0f0; /* Default footer background color (White theme) */
  padding: 10px 0;
}

body.dark-theme footer {
  background-color: #222; /* Dark theme footer background color */
  color: #fff; /* Dark theme footer text color */
}

/* Video styles */
video {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}
